<div class="user-details">
  <h1> Recent Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="screen shot of baby-namr app" src="{{ "/assets/baby_namr.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Baby-Namr </h3>
    <ul>
      <li> Baby-Namr helps expectant parents research potential baby names by providing historical information on name popularity in the United States.  </li>
      <li> Baby-Namr's backend is an API built in Rails which pulls data from a PostgreSQL database and serves JSON to a React frontend. </li>
      <li> Data was parsed from CSV files provided by the Social Security Administration. </li>
    </ul>
    <a class="project-link" href="http://baby-namr.herokuapp.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="screenshot of todo list app" src="{{ "/assets/cwk_todo_app.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> To Do or Not To Do </h3>
    <ul>
      <li> Interactive to do list application built with Ruby, Sinatra, jQuery, HTML and CSS.  </li>
      <li> Built on a RESTful API that allows users to create and delete to do lists and associated tasks. </li>
    </ul>
    <a class="project-link" href="https://cwk-todo-app.herokuapp.com/lists">Check it out</a>
  </div>
</div>