<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <body>
    <section class="post" itemscope itemtype="http://schema.org/BlogPosting">

        <article role="article" id="scroll" class="post-content" itemprop="articleBody">
            {{ content }}
        </article>
    </section>
    {% include author.html %}
    {% include footer.html %}
  </body>
</html>
